<div id="perguntas" class="fixed-bottom">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/Duvidas-Doador">
            <button class="btn btn-primary me-md-2" type="button">
                <i class="bi bi-question-lg"></i>
            </button>
        </a>
    </div>
</div>