<!----------------------------------------------------------Perguntas------------------------------------------------------->
<div class="perguntas center">

    <br>
    <h3>Como doar?</h3> <br>
    <p>
        Para doar é simples, basta criar uma conta em nossa plataforma como um doador e clicar no botão “Quero Doar”. 
        A partir disso você deve inserir os dados solicitados e aguardar que uma instituição entre em contato 
        para realizar o agendamento da doação.
    </p> <br>
    
    <h3>Doar no Doe Amor é seguro?</h3> <br>
    <p>
        Definitivamente sim. Todas as instituições passam por um processo de curadoria, para que suas doações 
        sejam destinadas às finalidades certas.
    </p> <br>
    
    <h3>Para quem são destinadas às doações?</h3> <br>
    <p>
        As doações são recebidas por instituições locais cadastraras no Doe Amor, 
        após isso cabe a elas repassarem os itens para as pessoas que elas atendem.
    </p> <br>
    
    <h3>Como funciona a retirada e entrega das doações?</h3> <br>
    <p>
        A retirada e a entrega deve ser combinada e agendada exclusivamente com a instituição selecionada 
        para receber os itens. O Doe Amor não se responsabiliza pelas entregas.
    </p> <br>

    <h3>Posso doar dinheiro?</h3>
    <p>
        O Doe Amor não se responsabiliza pela segurança e entrega financeira, nosso sistema não possui meios
        para entregas financeiras virtuais, porém, caso deseje, o doador pode salvar sua doação monetária
        sob a categoria "Outros" e definir a entrega diretamente com a instituição por outras formas de
        contato.
    </p> <br>
</div>