<!------------ credits ------------>
<footer id="rodape">
    <div class="container-fluid">

        <!--Informações-->
        <div class="row" style="left: 0px;">
            
            <!-- Email -->
            <div class="col-sm-12 col-md-12 col-lg-12 align-self-center text-center" id="contatos">
                <h4 class="text-uppercase">Email</h4>
                <ul>
                    <li>
                        <a href="#" target="_blank">
                            <i class="bi bi-envelope" id="local"></i>
                        </a>
                        <h6>projeto_doeamor@gmail.com</h6>
                    </li>
                </ul>
            </div>

            <!--Contato-->
            <div class="col-sm-12 col-md-6 col-lg-6 align-self-center text-center" id="contatos">
                <h4 class="text-uppercase">Contato</h4>
                <ul>
                    <li>
                        <i class="bi bi-telephone" id="telefone"></i>
                        <h6>xxxx-xxxxx</h6>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <i class="bi bi-whatsapp" id="whatsapp"></i>
                        </a>
                        <h6>(12)xxxx-xxxxx</h6>
                    </li>
                </ul>
            </div>

            <!--Redes Sociais-->
            <div class="col-sm-12 col-md-6 col-lg-6 align-self-center text-center" id="redes">
                <h4 class="text-uppercase">Redes Sociais</h4>
                <ul>
                    <li>
                        <a href="#" target="_blank">
                            <i class="bi bi-facebook" id="facebook"></i>
                        </a>
                        <h6>Projeto Dor Amor</h6>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <i class="bi bi-instagram" id="instagram"></i>
                        </a>
                        <h6>@projeto_doeamor</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>

    <!-- copyright -->
    <div class="container-fluid text-center white">
        <p>&copy; DoeAmor | 2021 - Todos os direitos reservados</p>
    </div>
</footer>